<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Spendable - Contact us</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="assets/css/theme.min.css" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" role="navigation">
    <div class="container no-override">
      <a class="navbar-brand" href="">
        Spendable
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div class="agency-alt-hero">
    <div class="container">
      <h3 class="customFadeInUp">
        Contact us.
      </h3>
    </div>
  </div>

  <div class="agency-alt-contact-info">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 style="color: #518dc3;">
            <i class="ion-ios-email-outline"></i>
            Email
          </h4>
          <p>
            help@spendable.dev
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #4fc4c5;">
            <i class="ion-ios-telephone-outline"></i>
            Text
          </h4>
          <p>
            (801) 981-9950‬
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #a34dd6;">
            <i class="ion-social-github-outline"></i>
            Github
          </h4>
          <p>
            <a href="https://github.com/michaelst/spendable-api" target="_blank">
              michaelst/spendable-api
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="agency-footer mt-0">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About</h4>
          <a href="/privacy-policy" class="legal">Privacy policy</a>
        </div>
        <div class="col-md-4">
          <h4>Contact</h4>
          <p>
            (801) 981-9950‬ <br>
            help@spendable.dev
          </p>
        </div>
        <div class="col-md-4">
          <h4>Social</h4>
          <p>
            <a href="https://github.com/michaelst/spendable-api" class="social">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
